NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_SERVER_API_KEY=
ADMIN_USERNAME=
ADMIN_PASSWORD=
NEXT_PUBLIC_KD_DRIVER_PHONE=
BREVO_API_KEY=
BREVO_FROM_EMAIL=
BREVO_FROM_NAME=
BREVO_OWNER_EMAIL=
NEXT_PUBLIC_APP_URL=
